<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/base.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="top-nav">
        <div class="top-nav-container">
            <div class="nav-left">
                <a href="{{ url_for('home_page') }}" class="nav-icon">
                    <img src="{{ url_for('static', path='/images/teddy_bear.png') }}" alt="Teddy Bear Icon">
                </a>
                <a href="{{ url_for('home_page') }}" class="nav-title-link">
                    <span class="nav-title">Handmade Toys Marketplace</span>
                </a>
            </div>
            <div class="nav-buttons">
                <a href="{{ url_for('register') }}" class="btn">Регистрация</a>
                <a href="{{ url_for('login') }}" class="btn">Вход</a>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
