{% extends "base.html" %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="container">
    <div class="form-box">
        <h2>Новый пароль</h2>
        <form action="{{ url_for('change-forget-password') }}" method="post">
            <input type="password" name="new_password" placeholder="Введите новый пароль" required>
            <div class="form-actions">
                <button type="submit" class="btn">Подтвердить</button>
                <p>Вспомнили пароль?
                    <a href="{{ url_for('login') }}" class="link link-underlined">Вернуться ко входу</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
