{% extends "base.html" %}

{% block title %}Забыли пароль{% endblock %}

{% block content %}
<div class="container">
    <div class="form-box">
        <h2>Забыли пароль</h2>
        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %}
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        {% if errors %}
        {% for error in errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <form action="{{ url_for('forget-pass-form') }}" method="post">
            <input type="email" name="email" placeholder="Электронная почта" required>
            <div class="form-actions">
                <button type="submit" class="btn">Подтвердить</button>
                <p>Вспомнили пароль?
                    <a href="{{ url_for('login') }}" class="link link-underlined">Вернуться ко входу</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
