{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', path='/styles/profile.css') }}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="avatar-section">
            <img src="{{ user.avatar if user.avatar else '/static/images/default_avatar.png' }}" alt="Аватар"
                 class="profile-avatar">
        </div>

        <div class="profile-form-section">
            <div class="profile-layout">
                <nav class="profile-tabs">
                    <button class="tab-btn {{ 'active' if tab == 'main' else '' }}" data-tab="main">Основное</button>
                    <button class="tab-btn {{ 'active' if tab == 'security' else '' }}" data-tab="security">
                        Безопасность
                    </button>
                </nav>

                <div class="tabs-content-wrapper">
                    <div class="tab-content {{ 'active' if tab == 'main' else '' }}" id="main">
                        {% if main_message %}
                        <p class="message">{{ main_message }}</p>
                        {% endif %}
                        {% if main_error %}
                        <p class="error">{{ main_error }}</p>
                        {% endif %}
                        <div class="form-section">
                            <form id="profile-form" action="{{ url_for('confirm-edit-profile') }}" method="post"
                                  enctype="multipart/form-data">
                                <input type="hidden" name="tab" value="main">
                                <div class="user-info">
                                    <div class="static-fields">
                                        <p class="static-field">
                                            <strong>Почта:</strong>
                                            {% if email and email != "Отсутствует" %}
                                            {{ email }}
                                            <span class="verification-status {% if email_verified %}verified{% else %}not-verified{% endif %} edit-status">
                                                {% if email_verified %}Подтвержден{% else %}Не подтвержден{% endif %}
                                            </span>
                                            {% else %}
                                            Отсутствует
                                            {% endif %}
                                        </p>
                                        <p class="static-field">
                                            <strong>Дата регистрации: </strong>{{ created_at }}
                                        </p>
                                    </div>
                                    <div class="editable-fields">
                                        <p class="profile-field" data-field="username">
                                            <strong>Никнейм:</strong> <span class="field-value">{{ username | default("Отсутствует") }}</span>
                                            <span class="edit-field" style="display: none;">
                                                <input type="text" name="username" placeholder="Введите новый никнейм"
                                                       value="{{ username }}">
                                            </span>
                                        </p>
                                        <p class="profile-field" data-field="phone">
                                            <strong>Телефон:</strong>
                                            {% if phone and phone != "Отсутствует" %}
                                            <span class="field-value">{{ phone }}</span>
                                            <span class="verification-status {% if phone_verified %}verified{% else %}not-verified{% endif %} edit-status">
                                                {% if phone_verified %}Подтвержден{% else %}Не подтвержден{% endif %}
                                            </span>
                                            {% else %}
                                            Отсутствует
                                            {% endif %}
                                            <span class="edit-field" style="display: none;">
                                                <input type="tel" name="phone" placeholder="Введите новый телефон"
                                                       value="{{ phone }}">
                                            </span>
                                        </p>
                                        <p class="profile-field" data-field="telegram">
                                            <strong>Telegram:</strong>
                                            {% if telegram and telegram != "Отсутствует" %}
                                            <span class="field-value">{{ telegram }}</span>
                                            <span class="verification-status {% if telegram_verified %}verified{% else %}not-verified{% endif %} edit-status">
                                                {% if telegram_verified %}Подтвержден{% else %}Не подтвержден{% endif %}
                                            </span>
                                            {% else %}
                                            Отсутствует
                                            {% endif %}
                                            <span class="edit-field" style="display: none;">
                                                <input type="text" name="telegram" placeholder="Введите новый телеграм"
                                                       value="{{ telegram }}">
                                            </span>
                                        </p>
                                        <p class="profile-field" data-field="avatar">
                                            <strong>Аватар:</strong>
                                            <span class="edit-field">
                                                <div id="avatar-upload-field" class="file-upload" style="display: none">
                                                    <span class="file-upload-text">Выберите или перетащите изображение</span>
                                                    <input type="file" name="avatar" accept="image/*" hidden>
                                                </div>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <button id="edit-profile-btn" type="button" class="btn edit-profile-btn">Редактировать
                                    профиль
                                </button>
                                <button id="save-profile-btn" type="submit" class="btn save-profile-btn"
                                        style="display: none;">Сохранить изменения
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="tab-content {{ 'active' if tab == 'security' else '' }}" id="security">
                        {% if security_message %}
                        <p class="message">{{ security_message }}</p>
                        {% endif %}
                        {% if security_error %}
                        <p class="error">{{ security_error }}</p>
                        {% endif %}
                        <div class="security-form-section">
                            <button class="btn" id="change-password-btn">Сменить пароль</button>
                            <div class="password-form" style="display: none;">
                                <form action="{{ url_for('change-password') }}" method="post">
                                    <input type="hidden" name="tab" value="security">
                                    <input type="password" name="old_password" placeholder="Текущий пароль" required>
                                    <input type="password" name="new_password" placeholder="Новый пароль" required>
                                    <button type="submit" class="btn" style="margin-top: 15px;">Сохранить изменения
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="../scripts/profile.js"></script>
{% endblock %}
