{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', path='/styles/profile.css') }}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <!-- Блок с аватаркой -->
        <div class="avatar-section">
            <img src="{{ user.avatar if user.avatar else '/static/images/default_avatar.png' }}" alt="Аватар"
                 class="profile-avatar">
            <!-- Добавленный статус -->
            <div class="user-status {% if master is not none %}master{% else %}user{% endif %}">
                {% if master is not none %}Мастер{% else %}Пользователь{% endif %}
            </div>
        </div>

        <!-- Форма с вкладками -->
        <div class="profile-form-section">
            <div class="profile-layout">
                <!-- Навбар вкладок в форме профиля -->
                <nav class="profile-tabs">
                    <button class="tab-btn {{ 'active' if tab == 'main' else '' }}" data-tab="main">Основное</button>
                    <button class="tab-btn {{ 'active' if tab == 'security' else '' }}" data-tab="security">
                        Безопасность
                    </button>
                    <button class="tab-btn {{ 'active' if tab == 'master' else '' }}" data-tab="master">
                        {% if master is none %}Стать мастером{% else %}Я мастер{% endif %}
                    </button>
                </nav>

                <!-- Контент вкладок -->
                <div class="tabs-content-wrapper">
                    <!-- Вкладка "Основное" -->
                    <div class="tab-content {{ 'active' if tab == 'main' else '' }}" id="main">
                        <div class="form-section">
                            <form id="profile-form" action="{{ url_for('update_user_profile') }}" method="post"
                                  enctype="multipart/form-data">
                                <input type="hidden" name="tab" value="main">
                                <!-- Текстовые поля (по умолчанию видимые) -->
                                <div class="user-info">
                                    <!-- Неизменяемые поля -->
                                    <div class="static-fields">
                                        <p class="static-field">
                                            {% if user.id %}
                                            <strong>ID: </strong>{{ user.id }}
                                            {% else %}
                                            <strong>ID: </strong>Ошибка загрузки формы
                                            {% endif %}
                                        </p>
                                        <p class="static-field">
                                            <strong>Почта:</strong>
                                            {% if user.email and user.email != "Отсутствует" %}
                                            <span class="field-value">{{ user.email }}</span>
                                            <span class="verification-status {% if user.email_confirmed %}verified{% else %}not-verified{% endif %} edit-status">
                                                {% if user.email_confirmed %}Подтвержден{% else %}Не подтвержден{% endif %}
                                            </span>
                                            {% else %}
                                            <span class="field-value">Отсутствует</span>
                                            {% endif %}
                                        </p>
                                        <p class="static-field">
                                            {% if user.created_at %}
                                            <strong>Дата регистрации: </strong>{{ user.created_at }}
                                            {% else %}
                                            <strong>Дата регистрации: </strong>Ошибка загрузки формы
                                            {% endif %}
                                        </p>
                                    </div>

                                    <!-- Редактируемые поля -->
                                    <div class="editable-fields">
                                        <p class="profile-field" data-field="username">
                                            <strong>Никнейм:</strong> <span
                                                class="field-value">{{ user.display_name }}</span>
                                            <span class="edit-field" style="display: none;">
                                                <input type="text" name="username" placeholder="Введите новый никнейм"
                                                       value="{{ user.display_name }}">
                                            </span>
                                        </p>
                                        <p class="profile-field" data-field="phone">
                                            <strong>Телефон:</strong>
                                            {% if user.phone and user.phone != "Отсутствует" %}
                                            <span class="field-value">{{ user.phone }}</span>
                                            <span class="verification-status {% if user.phone_confirmed %}verified{% else %}not-verified{% endif %} edit-status">
                                                {% if user.phone_confirmed %}Подтвержден{% else %}Не подтвержден{% endif %}
                                            </span>
                                            {% else %}
                                            <span class="field-value">Отсутствует</span>
                                            {% endif %}
                                            <span class="edit-field" style="display: none;">
                                                <input type="tel" name="phone" placeholder="Введите новый телефон"
                                                       value="{{ user.phone if user.phone and user.phone != 'Отсутствует' else '' }}">
                                            </span>
                                        </p>
                                        <p class="profile-field" data-field="telegram">
                                            <strong>Телеграм:</strong>
                                            {% if user.telegram and user.telegram != "Отсутствует" %}
                                            <span class="field-value">{{ user.telegram }}</span>
                                            <span class="verification-status {% if user.telegram_confirmed %}verified{% else %}not-verified{% endif %} edit-status">
                                                {% if user.telegram_confirmed %}Подтвержден{% else %}Не подтвержден{% endif %}
                                            </span>
                                            {% else %}
                                            <span class="field-value">Отсутствует</span>
                                            {% endif %}
                                            <span class="edit-field" style="display: none;">
                                                <input type="text" name="telegram" placeholder="Введите новый телеграм"
                                                       value="{{ user.telegram if user.telegram and user.telegram != 'Отсутствует' else '' }}">
                                            </span>
                                        </p>
                                        <p class="profile-field" data-field="avatar">
                                            <strong>Аватар:</strong>
                                            <span class="edit-field">
                                                <div id="avatar-upload-field" class="file-upload">
                                                    <span class="file-upload-text">Выберите или перетащите изображение</span>
                                                    <input type="file" name="avatar" accept="image/*" hidden>
                                                </div>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <button id="edit-profile-btn" type="button" class="btn edit-profile-btn">Редактировать
                                    профиль
                                </button>
                                <button id="save-profile-btn" type="submit" class="btn save-profile-btn"
                                        style="display: none;">Сохранить изменения
                                </button>
                            </form>
                        </div>
                    </div>

                    <!-- Вкладка "Безопасность" -->
                    <div class="tab-content {{ 'active' if tab == 'security' else '' }}" id="security">
                        <div class="security-form-section">
                            <!-- Блок с кнопками безопасности -->
                            <div class="security-actions-block">
                                <div class="password-header">Пароль</div>
                                <hr class="divider-line">
                                <div class="password-buttons">
                                    <button class="btn" id="change-password-btn">Сменить пароль</button>
                                    <button class="btn" id="forgot-password-btn">Забыли пароль</button>
                                </div>
                                <hr class="divider-line">
                            </div>

                            <!-- Форма смены пароля -->
                            <div class="password-form">
                                <form action="{{ url_for('change-password') }}" method="post">
                                    <input type="hidden" name="tab" value="security">
                                    <input type="password" name="old_password" placeholder="Текущий пароль" required>
                                    <input type="password" name="new_password" placeholder="Новый пароль" required>
                                    <button type="submit" class="btn" style="margin-top: 15px;">Сохранить изменения
                                    </button>
                                </form>
                            </div>

                            <!-- Форма восстановления пароля -->
                            <div class="forgot-password-form">
                                <form action="{{ url_for('forget-password-form') }}" method="post">
                                    <input type="hidden" name="tab" value="security">
                                    <input type="email" name="email" placeholder="Введите ваш email" required>
                                    <button type="submit" class="btn" style="margin-top: 15px;">Отправить ссылку
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Вкладка "Стать мастером / Я мастер" -->
                    <div class="tab-content {{ 'active' if tab == 'master' else '' }}" id="master">
                        <div class="form-section">
                            {% if not master %}
                            <form action="{{ url_for('register-master') }}" method="post">
                                <input type="hidden" name="tab" value="master">
                                <div class="user-info">
                                    <p class="profile-field" data-field="master-info">
                                        <strong class="field-label">О мастере:</strong>
                                        <span class="edit-field master-info-field">
                                            <textarea name="info" placeholder="Расскажите о себе" maxlength="1000"></textarea>
                                        </span>
                                    </p>
                                </div>
                                <button type="submit" class="btn">Отправить заявку</button>
                            </form>
                            {% else %}
                            <form id="master-form" action="{{ url_for('update-master') }}" method="post">
                                <input type="hidden" name="tab" value="master">
                                <div class="user-info">
                                    <p class="static-field">
                                        <strong>ID:</strong>
                                        <span class="field-value">{{ master.id if master.id else 'Ошибка загрузки формы' }}</span>
                                    </p>
                                    <p class="static-field">
                                        <strong>Мастер с:</strong>
                                        <span class="field-value">{{ master.created_at if master.created_at else 'Ошибка загрузки формы' }}</span>
                                    </p>
                                    <p class="profile-field" data-field="master-info">
                                        <strong class="field-label">О мастере:</strong>
                                        <span class="field-value">{{ master.info if master.info else 'Информации еще нет, рекомендуется добавить' }}</span>
                                        <span class="edit-field master-info-field" style="display: none;">
                                            <textarea name="info" placeholder="Расскажите о себе" maxlength="1000">{{ master.info if master.info else '' }}</textarea>
                                        </span>
                                    </p>
                                </div>
                                <button id="edit-master-btn" type="button" class="btn edit-profile-btn">Редактировать
                                    мастера
                                </button>
                                <button id="save-master-btn" type="submit" class="btn save-profile-btn"
                                        style="display: none;">Сохранить изменения
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/profile.js"></script>
{% endblock %}
